snippet cgreen "green (color)"
printf "\33[92m${1}\33[0m\n"
endsnippet

# --------------------------------------------------

snippet cred "red (color)"
printf "\33[91m${1}\33[0m\n"
endsnippet

# --------------------------------------------------

snippet aw "awk (example)"
awk '
BEGIN {
# begin
}

{
# body
}

END {
# end
}'
endsnippet

# --------------------------------------------------
